persistent_db.sqlite
.vscode/
.DS_Store
.idea/
.env
.env.local
__pycache__/
package-lock.json
pnpm-lock.yaml
yarn.lock
context_blocks.json
similar
notes
node_modules
dist
build

# Python virtual environment
myenv/

# Python requirements file
requirements.txt